.vagas {
    padding: 0 0 3em 0;
}

.vagas-descricao {
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 500;
    max-width: 700px;
    margin: 0 auto;;
    padding: 2em
}

.vaga {
    margin: 1em 28em 1em 33em;
    border: 1px solid var(--cinza-borda);
    border-radius: 1em;
    padding: 1.5em 1.5em 0 1.5em;
    box-sizing: border-box;
}

.titulo-vaga {
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 500;
    color: var(--preto);
    padding: 1em;
}

.informacoes {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza-medio);
    line-height: 6rem;
}